#temas {
  width: 100%;
  background: #fff;
  z-index: 85;
  position: relative;
}
#temas #subtitulo3 {
  width: 95%;
  margin-top: -25px;
  padding: 12px;
  color: #060a24;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
}
#contenido4 {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#temas #contenido4 article {
  margin: 30px;
}

#temas #contenido4 article img {
  display: block;
  margin: auto;
  width: 104px;
  max-width: 150px;
}

#temas #contenido4 article h3 {
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  color: #060a24;
  margin-top: 20px;
}
@media (min-width: 600px) {
  #temas {
    width: 100%;
    margin-top: -25px;
    /* background: brown; */
  }
  #temas #contenido4 article {
    margin: 2vw;
    width: 17vw;
  }
  #temas #subtitulo3 {
    width: 75%;
    margin-left: 60px;
    padding-top: 30px;
    font-size: 28px;
  }
  #temas #contenido4 article img {
    width: 75px;
    max-width: 100px;
  }
  #temas #contenido4 article h3 {
    font-size: 14px;
    margin-top: 10px;
  }
}
@media (min-width: 1024px) {
  #temas .contenedor #subtitulo3 {
    font-size: 48px;
    margin-top: -70px;
    margin-left: 180px;
  }
  #temas #contenido4 article img {
    width: 115px;
  }
  #temas #contenido4 article h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  #temas #contenido4 article {
    margin: 10px;
    width: 17vw;
  }
  #temas #contenido4 {
    margin-top: 50px;
  }
}
